 <!-- Start Hero Slider -->
<div class="hero-slider">
 {% for post in postslist | reverse %}
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url({{ post.data.image }});">
                                <div class="content">
                                    <h2><span> {{post.data.title}}</span>
                                       {{post.data.title2}} </h2>
                                    <p>{{ post.data.subtitle }}</p>
                                    <h3><span>&euro;</span>  {{post.data.prezzo}}</h3>
                                    <div class="button">
                                        <a href="{{ post.url | url }}" class="btn">compra</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            {% endfor %}
                        </div>
                        <!-- End Hero Slider -->
{# 
<div class="row">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <a href="{{ post.url | url }}" >
        <img src="{{ post.data.image }}" class="d-block mx-lg-auto img-fluid" alt="{{ post.data.image }}" width="700" height="500" loading="lazy">
        </a>
      </div>
      <div class="col-lg-6">
           <p>{{ post.date | readableDate }}</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">
                       <a href="{{ post.url | url }}" >
          {{post.data.title}}
          </a>
          </h1>
        <p>di {{ post.data.author }}</p>
        <p class="lead">{{ post.data.subtitle }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          

           <button type="button" class="btn btn-outline-secondary btn-lg px-4">
             <a href="{{ post.url | url }}" > 
               leggi
              </a>
             </button>

        </div>
      </div>
    </div>
  </div>
</div>
#}
