    <!-- Start Footer Area -->
    <footer class="footer mt-auto py-3 bg-light">

        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="bottom-inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                {% include 'orario.njk' %}
                                <p class="mail">
                                    <a href="mailto:{{metadata.email}}">{{metadata.email}}</a>
                                </p>
                                <p class="phone">telefono: {{metadata.phone}}</p>
                                <p class="phone">telefono: {{metadata.mobile}}</p>
                                <p class="phone">iva: {{metadata.iva}}</p>
                                <p class="phone">codice fiscale: {{metadata.codice_fiscale}}</p>
                                 <h6>{{metadata.ISSN}}</h6>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer our-app">
                        <h3>ricevi Scritture</h3>
                        <form action="MAILTO:<{{metadata.email}}>?subject=Sottoscrizione Scritture&body=Benvenuto. Invia questa email per ricevere gli ultimi articoli pubblicati dal sito Scritture. Potrai sempre cancellare la tua sottoscrizione seguendo le istruzioni in calce.  Grazie." method="post" enctype="text/plain">
                        </br>
                        <input type="submit" value="sottoscrivi">
                        </form>
                        <br> 
                        <h3>collabora</h3> 
                        <br>
                        <form action="MAILTO:<{{metadata.email}}>?subject=Richiesta%20di%20collaborazione&body=Benvenuti. Verranno prese in considerazione le proposte compatibili con la linea editoriale della rivista. Inviare il testo in allegato, unitamente ad una sinossi, un breve profilo, una fotografia o altra immagine llustrativa. Grazie." method="post" enctype="text/plain">
                        <input type="submit" value="invio proposte">
                        </form>
                        <br>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>licenza </h3>
                                <p>
                                    <a rel="license" class="nav-link p-0 text-muted" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                                Questa raccolta di opere è distribuita con Licenza Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale.</a> 
                                <br>
                                 <a rel="license" class="nav-link p-0 text-muted" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="/images/license.png" /></a>
                                 <br>
                                Permessi ulteriori rispetto alle finalità della presente licenza sono disponibili presso <a rel="license" href="/abaut/">contatti</a>
                                <p>&copy; 2022 Claudio Comandini</p>
                                </p>

                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>dipartimenti</h3>
                                <ul>
                                    <li><a href="/grandtour/">grandtour vinolibreria</a></li>
                                    <li><a href="/grandtour/">libri usati</a></li>
                                    <li><a href="/grandtour/">CD DVD usati</a></li>
                                    <li><a href="/grandtour/">fumetti usati</a></li>
                                    <li><a href="/escamontage/">Escamontage casa editrice</a></li>
                                </ul>
                                 <h3>social</h3>


                  <div>  
	<a href="{{metadata.twitter}}" title="{{metadata.title}} on twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

	<a href="{{metadata.facebook}}" title="{{metadata.title}} on facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    
	<a href="{{metadata.linkedin}}" title="{{metadata.title}} on linkedin" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
{# 
	<a href="https://github.com/matteopedani" title="{{metadata.title}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>


  <a href="https://www.pedani.it/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
#}
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
        <br>
        <!-- Start Footer Bottom -->
  <div class="container">
    <span class="text-muted">                     <p>sito realizzato da <a href="https://pedani.it/" rel="nofollow"
                                        target="_blank">pedani.it</a></p></span>
  </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--/ End Footer Area -->

 