<nav class="navbar  navbar-expand-sm navbar-dark fixed-top  bg-dark">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item">
          <a href="{{ entry.url | url }}" class="nav-link {% if entry.url == page.url %} active"  aria-current="page{% endif %}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
