<h3>orari</h3>
<ul>
    <li><span>lunedì: </span> chiuso </li>
    <li><span>martedi - giovedì: </span> 17:00 - 22:30 </li>
    <li><span>venerdì - sabato: </span> 12:00 - 02:00 </li>
    <li><span>domenica: </span> 12.00  - 22.30 </li>
</ul>