<h3>orari</h3>

Avvisiamo la gentile clientela che il Grand Tour BookWineBar è montaneamente chiuso per risistemazioni.

<ul>
    <li><span>lunedì: </span> chiuso </li>
    <li><span>martedi - giovedì: </span> 18:00 - 24:00 </li>
    <li><span>venerdì - domenica </span> 18:00 - 01:00 </li>
</ul>
