

<div class="row">

{% for post in postslist | reverse %}

  <div class="col-md-4">
    <div class="card card-profile card-plain">
      <div class="row">
        <div class="col-lg-5">
          <a href="{{ post.url | url }}">
            <div class="position-relative">
              <div class="blur-shadow-image">
                <img class="w-100 rounded-3 shadow-lg" src="{{ post.data.image }}">

              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-7 ps-0 my-auto">
          <div class="card-body text-left">
            <div class="p-md-0 pt-3">
              <h5 class="font-weight-bolder mb-0">{{post.title}}</h5>
                  <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

              <p class="text-sm font-weight-bold mb-2">    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></p>
              <p>di {{ post.data.author }}</p>
              <p> {{ post.data.subtitle }}</p>
            </div>
            <p class="mb-4">
                  {% for tag in post.data.tags | filterTagList %}
                    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                  {% endfor %}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
{# 
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </li>
#}
{% endfor %}
  
</div>


{# 
<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}

  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
#}
