<!-- ======================= JS libraries, plugins and custom scripts -->
<!-- Bootstrap JS -->
 <script src="/js/bootstrap.bundle.js"></script>

<!-- Vendors -->
<script src="/assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/assets/vendor/sticky-js/sticky.min.js"></script>
<script src="/assets/vendor/plyr/plyr.js"></script>

<!-- Template Functions -->
<script src="/assets/js/functions.js"></script>
