@charset "UTF-8";


*:not(i):not(.fa){
  font-family:Vollkorn, serif;
  
}

a {
  color: #69778c !important;
  text-decoration: none !important;
}
a:hover {
  color: #3b434e !important;
}
.navbar {
	margin:0px !important;
	padding: 0px !important;
}


@import "https://cdn.skypack.dev/@frsource/tiny-carousel-core/dist/index.css";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

