---
layout: layouts/home.njk
permalink: /diario/
eleventyNavigation:
  key: diario
  order: 2
---
<hr style="height:50px;border-width:0;color:gray;background-color:#d91111"> 

<div class="jumbotron">
  <div class="container text-center">
    <a href="/">
      <img src="/images/cropped-scritture_logo-1.jpg" class="img-fluid" alt="" class="d-inline-block align-text-top"> 
    </a>
  </div>
</div>
<hr>
<h3>diario</h3>
{% set postslist = collections['Claudio Comandini'] %}
{% include "postslist.njk" %}

