---
layout: layouts/home.njk
permalink: /
eleventyNavigation:
---
<hr style="height:50px;
border-width:0;
color:gray;
background-color:#bb0f0f;
opacity: 1;"> 

<div class="jumbotron">
  <div class="container text-center">
    <a href="/">
      <img src="/images/cropped-scritture_logo-1.jpg" class="img-fluid" alt="" class="d-inline-block align-text-top"> 
    </a>
  </div>
</div>

<hr> 

<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border-0 overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">book winebar</strong>
          <h3 class="mb-0">Grand Tour</h3>
          <div class="mb-1 text-muted">Frascati a Largo Duca di York 8 </div>
          <p class="card-text mb-auto">
            E' una libreria, un bar, un circolo: un piccolo spazio che si propone quale tappa di qualsiasi viaggio possibile. Pubblicazioni, oggetti e vestiti usati, prodotti tipici e pregiati, laboratorio di produzioni culturali. È gestito dallo scrittore Claudio Comandini presso il centro storico.
            </p>
        </div>
        
        <div class="col-auto d-none d-lg-block">
        <img src="/images/shop/caludio_libreria.jpg" class="bd-placeholder-img" width="200" height="250"  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" >
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-auto">Ci introduce allo spazio e alle sue suggestioni il murales realizzato all’ingresso dallo street artist Stefano Salvi, che tra le diverse soluzioni presenta una decostruzione delle colonne d’Ercole del teatro delle fontane di Villa Aldobrandini.  </p>
        </div>
        <div class="col-auto d-none d-lg-block">
                  <img src="/images/shop/outside.jpg" class="bd-placeholder-img" width="200" height="250"  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" >

        </div>
      </div>
    </div>
  </div>



{% set maxPosts = collections.rivista.length | min(5) %}
{# 
<h3>Gli ultimi  {% if maxPosts == 1 %}rivista{% else %}{{ maxPosts }} articoli della  rivista{% endif %}</h3>
#}
{% set postslist = collections.rivista | head(-20) %}
{% set postslistCounter = collections.rivista | length %}
{% include "postslist.njk" %}
{# 
{% include "home_list.njk" %}

{% set arr = [1,2,3,4,5,6,7,8,9] %}

<div class="columwrapper">
  {%- for items in arr | slice(3) %}
    <ul class="column-{{ loop.index }}">
    {%- for item in items %}
      <li>{{ item }}</li>
    {%- endfor %}
    </ul>
  {%- endfor %}
</div>

#}

