---
pagination:
  data: collections.libreria
  size: 20
  alias: entries
layout: layouts/home.njk
permalink: /grandtour/
eleventyNavigation:
  key: grand tour bookwinebar 
  order: 4
---
<hr style="height:50px;border-width:0;color:gray;background-color:#960ff5;opacity: 1;"> 
<div class="jumbotron">
  <div class="container text-center">
    <a href="/">
      <img src="/images/logo-grantour_500.jpg" class="img-fluid" alt="" class="d-inline-block align-text-top"> 
    </a>
         <h3>bookwinebar</h3>
  </div>
</div>
<hr> 
{%- for entry in entries | reverse -%}
<div class="container">
    <div class="row">
       <div class="clearfix p-5 p-md-6 mb-4 ">
           <img src="{{entry.data.image}}" class=" card rounded-8 img-fluid col-md-6 float-md-end mb-4 ms-md-4 " alt="entry.data.title">
                 <h1 class="display-4 fst-italic">{{ entry.data.title }}</h1>
         <p class="lead">{{entry.data.subtitle}}</p>
         <p >{{ entry.templateContent | safe }} </p>
       </div>
    </div>
{%- endfor -%}
