---
layout: layouts/home.njk
permalink: /rivista/
eleventyNavigation:
  key: rivista
  order: 1
---
<hr  style="height:50px;
border-width:0;
color:gray;
background-color:#bb0f0f;
opacity: 1;"> 
<div class="jumbotron">
  <div class="container text-center">
    <a href="/">
      <img src="/images/cropped-scritture_logo-1.jpg" class="img-fluid" alt="" class="d-inline-block align-text-top"> 
    </a>
  </div>
</div>
<hr>
<h3>rivista</h3>
{% set maxPosts = collections.rivista.length | min(5) %}
{# 
<h3>Gli ultimi  {% if maxPosts == 1 %}rivista{% else %}{{ maxPosts }} articoli della  rivista{% endif %}</h3>
#}
{% set postslist = collections.rivista | head(-50) %}
{% set postslistCounter = collections.rivista | length %}
{% include "postslist.njk" %}
{% include "home_list.njk" %}

<a href="/tags/"><h4>vedi tutti gli argomenti</h4></a>
{# pagination.items has the data for the current page 
{% set postslist = collections.rivista %}
{% include "postslist.njk" %}
#}