<!doctype html>
<html lang="{{metadata.language}}">
  <head>
    {% include 'head.njk' %}
 </head>
  <body>
    <div class="container">
      <header>
      {% include 'nav2.njk' %}
      </header>
    </div>
    <div class="container">
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
        <p> collegamento a questa pagina <a href="{{page.url|url}}">{{page.url| url}}</a></p>
      </main>
      <footer>
        {% include 'footer.njk' %}
      </footer>
    </div>
    <!-- Current page:   {{ page.url | url }}-->
    {% include 'scripts.njk' %}
  </body>
</html>
