---
layout: layouts/base.njk
templateClass: tmpl-post
---
{# 
<h1>{{ title }}</h1>
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
{{ content | safe }}
{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
#}

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="{{image}}" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h3> <a href="#" class="text-primary">{{title}}</a> </h3>
            <h6 class="category  mt-3 text-secondary" style="font-size: 120%; " >{{subtitle}}</h6>

            <p class="author">
              di  
              <a href="/tags/{{ author  | slugify }}" class="ms-1" ><span class="font-weight-bold text-secondary">{{author}}</span></a> ,
              <time datetime="{{ page.date | htmlDateString }}"> &nbsp;  {{ page.date | readableDate }} </time> 


              </p>
            <p style="color: darkgray; font-size: 120%" >
             {{headline}} 
             {#
             <a href="javascript:;" class="text-darker icon-move-right text-sm">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
              #}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 ms-auto me-auto">
          <p class="text-dark">
          {{ content | safe }}
          </p>
        </div>
      </div>
      </div>
  </div>
</section>