{% for post in postslist | reverse %}
<div class="row">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <a href="{{ post.url | url }}" >
        <img src="{{ post.data.image }}" class="d-block mx-lg-auto img-fluid" alt="{{ post.data.image }}" width="700" height="500" loading="lazy">
        </a>
      </div>
      <div class="col-lg-6">
           <p>{{ post.date | readableDate }}</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">
                       <a href="{{ post.url | url }}" >
          {{post.data.title}}
          </a>
          </h1>
        <p>di {{ post.data.author }}</p>
        <p class="lead">{{ post.data.subtitle }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          

           <button type="button" class="btn btn-outline-secondary btn-lg px-4">
             <a href="{{ post.url | url }}" > 
               leggi
              </a>
             </button>

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{# 
<div class="row">

{% for post in postslist | reverse %}

  <div class="col-md-4">
    <div class="card card-profile card-plain">
      <div class="row">
        <div class="col-lg-5">
          <a href="{{ post.url | url }}">
            <div class="position-relative">
              <div class="blur-shadow-image">
                <img class="w-100 rounded-3 shadow-lg" src="{{ post.data.image }}">

              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-7 ps-0 my-auto">
          <div class="card-body text-left">
            <div class="p-md-0 pt-3">
              <h5 class="font-weight-bolder mb-0">{{post.title}}</h5>
                  <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

              <p class="text-sm font-weight-bold mb-2">    
                <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></p>
              <p>di {{ post.data.author }}</p>
              <p> {{ post.data.subtitle }}</p>
            </div>
            <p class="mb-4">
                  {% for tag in post.data.tags | filterTagList %}
                    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
                  {% endfor %}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
#}